.employee-form {
  border-style: solid;
  padding: 10px;
  margin: auto;
  width: 50%;
}
body > table {
  width: 80%;
}

table {
  border-collapse: collapse;
}
table.list {
  width: 100%;
}

td,
th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even),
table.list thead > tr {
  background-color: #00b4fe;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 8px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 30%;
  background-color: black;
  color: white;
  padding: 10px 18px;
  /* margin: 0px 0; */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form div.buttons {
  text-align: right;
}

a {
  cursor: pointer;
  text-decoration:none;
  color: black;
  margin-right: 4px;
  border-radius:15px;
  padding:7px;
}

a:hover {
  color:#ffffff;
}
label.validation-error {
  color: red;
  margin-left: 5px;
}

.hide {
  display: none;
}

.box {
  width: 530px;
  height: 530px;
  background-color: #91dbf0;
  position: fixed;
  left: 100px;
  top: 100px;
  border-radius: 10%;
  display: inline-block;
}
#nomeja {
    background: rgba(255, 255, 255, 0.5);
    border: 0px;
    border-radius: 15px;
    transform: translate(-30%, -50%);
    width: 300px;
    position: fixed;
    left: 410px;
    top: 434px;
  }
#pesanan {
    background: rgba(255, 255, 255, 0.5);
    border: 0px;
    border-radius: 15px;
    transform: translate(-30%, -50%);
    width: 300px;
    position: fixed;
    left: 410px;
    top: 469px;
  }
#jmlh {
    background: rgba(255, 255, 255, 0.5);
    border: 0px;
    border-radius: 15px;
    transform: translate(-30%, -50%);
    width: 300px;
    position: fixed;
    left: 410px;
    top: 505px;
  }
#submit {
    position: absolute;
    left: 15px;
    bottom: 35px;
    width:500px;
    border-radius: 15px;
    border: 0px;
    background: rgba(255, 255, 255, 0.5);
    color:black;
  }
  #submit:hover {
    background: rgba(255, 285, 255, 1.0);
  }
#input1{
  position: fixed;
  left:120px;
  top:433px;
}
#input2 {
  position: fixed;
  left:120px;
  top:468px;
}
#input3{
  position:fixed;
  left:120px;
  top:504px;
}
table {
  position:fixed;
  top:200px;
  left:660px;
}
#List {
  width:40%
}
#delete {
  background-color: red;
}
#edit {
  background-color: rgb(205, 205, 124);
}